body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.barra {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.quadradinhos {
    display: table;
    width: 100%;
    margin: 20px auto;
}

.quadradinho {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 16.666%; /* 100% dividido por 6 quadradinhos */
}
